@import url('https://fonts.bunny.net/css2?family=Lexend:wght@100..900&display=swap');
:root{
    --bg-color:rgb(202, 231, 185);
    --button-bg:rgb(159, 196, 137);
    --lighter-text: rgb(123, 161, 115);
    --shadow:rgba(108, 138, 92, 0.815);
    --text:rgba(42, 63, 42, 0.89);
    --card-bg: rgba(160, 204, 154, 0.63);
    --red-shadow: rgba(211, 97, 97, 0.705);
    --red-text: rgba(114, 61, 61, 0.884);
    --red-bg: rgba(240, 151, 151, 0.856);
}
body {
    background-color: var(--bg-color);
    font-family: 'Lexend', sans serif;
    color: var(--text);
}

button {
    font-family: 'Lexend', sans serif;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--button-bg);
    color: var(--text);
    transition: 150ms ease-in;
    box-shadow: 0 5px var(--shadow);
}
.add-book{
    margin: 1rem auto;
    display: block;
}
.card-button {
    padding: 0.5rem 1rem;
    margin-top: 0.6ch;
}
button:hover{
    cursor:pointer;
}
button:active{
    transform: translate(0, 5px);
    box-shadow: none;
}
.red-button {
    background-color: var(--red-bg);
    box-shadow: 0 5px var(--red-shadow);
    color: var(--red-text);
}
.label{
    color: var(--lighter-text);
    font-size: 0.9rem;
}
.content{
    border-radius: 0.2rem;
    border-left: 3px solid var(--lighter-text);
    padding: 0.1rem 0.5ch;
    margin-bottom: 0.3rem;
}

.card, dialog {
    background-color: var(--card-bg);
    padding: 1.8rem;
    border-radius: 1rem;
    margin: 1rem;
    max-width: 20rem;
    
}
.card {
    box-shadow: 0 5px var(--shadow);
}

dialog {
    border: none;
    color: var(--text);
    background-color: var();
    backdrop-filter: blur(2px);
    margin: 0 auto;
    box-shadow: 0 3px 4px 4px var(--shadow);
}
input, textarea{
    border-left: var(--shadow) 3px solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.199);
    color: var(--text);
    transition: 150ms ease;
    padding: 0.2rem 0.4rem;
    max-width: 100%;
}
textarea:focus, input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 10px var(--shadow);
    border-left: var(--text) 3px solid;
}
input::placeholder,
textarea::placeholder {
    color: rgba(48, 48, 48, 0.288);
}
input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}
input[type="checkbox"] {
    appearance: none;
    height: 1.3rem;
    width: 1.3rem;
    border: 2px solid var(--shadow);
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]::before {
    background-color: var(--shadow);
    content: "✔";
    position: absolute;
    background-color: transparent;
    top: -2px;
    left: 2px;
    visibility: hidden;
}
input[type="checkbox"]:checked::before {
    visibility: visible;
}
input[type="checkbox"]:checked {
    background-color: var(--bg-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
form div {
    display: grid;
}
label {
    font-size: 0.9rem;
    color: var(--text);
    position: relative;
}
div:has(#read) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
label[for="read"] {
    font-size: 1rem;
}

.form-button{ 
   
 
}
div:has(.form-button) {
    text-align: center;
     display: inline-block;
}